## Looping for aninhados

In [1]:
pessoas = [('Maria', 37, 70), ('João', 23, 80), ('Gabriel', 15, 58), ('Lucas', 12, 39)]

In [2]:
# For com cada tupla da lista

for pessoa in pessoas:
    print(pessoa)

('Maria', 37, 70)
('João', 23, 80)
('Gabriel', 15, 58)
('Lucas', 12, 39)

In [6]:
# For aninhado

for pessoa in pessoas:
    for dados in pessoa:
        print(dados)

Maria
37
70
João
23
80
Gabriel
15
58
Lucas
12
39

In [19]:
numeros = [[(1, 2, 3), (4, 5, 6)], [(7, 8, 9), (10, 11, 12)]]

In [20]:
for numero in numeros:
    for numero_list in numero:
        for numero_list1 in numero_list:
            print(numero_list1)

1
2
3
4
5
6
7
8
9
10
11
12

In [21]:
lista_plana = []
for numero in numeros:
    for numero_list in numero:
        for numero_list1 in numero_list:
            lista_plana.append(numero_list1)

In [22]:
lista_plana

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

### Projeto Tabuada

Utilize a linguagem Python para gerar automaticamente a tabuada de 1 a 9!

In [37]:
for numero in range(1, 10):
    print(f'\nTabuada do número: {numero}')
    
    for multiplicador in range(1, 10):
        tabuada = numero * multiplicador
        print(' '+f'{numero} x {multiplicador} = {tabuada}')

Tabuada do número: 1
 1 x 1 = 1
 1 x 2 = 2
 1 x 3 = 3
 1 x 4 = 4
 1 x 5 = 5
 1 x 6 = 6
 1 x 7 = 7
 1 x 8 = 8
 1 x 9 = 9

Tabuada do número: 2
 2 x 1 = 2
 2 x 2 = 4
 2 x 3 = 6
 2 x 4 = 8
 2 x 5 = 10
 2 x 6 = 12
 2 x 7 = 14
 2 x 8 = 16
 2 x 9 = 18

Tabuada do número: 3
 3 x 1 = 3
 3 x 2 = 6
 3 x 3 = 9
 3 x 4 = 12
 3 x 5 = 15
 3 x 6 = 18
 3 x 7 = 21
 3 x 8 = 24
 3 x 9 = 27

Tabuada do número: 4
 4 x 1 = 4
 4 x 2 = 8
 4 x 3 = 12
 4 x 4 = 16
 4 x 5 = 20
 4 x 6 = 24
 4 x 7 = 28
 4 x 8 = 32
 4 x 9 = 36

Tabuada do número: 5
 5 x 1 = 5
 5 x 2 = 10
 5 x 3 = 15
 5 x 4 = 20
 5 x 5 = 25
 5 x 6 = 30
 5 x 7 = 35
 5 x 8 = 40
 5 x 9 = 45

Tabuada do número: 6
 6 x 1 = 6
 6 x 2 = 12
 6 x 3 = 18
 6 x 4 = 24
 6 x 5 = 30
 6 x 6 = 36
 6 x 7 = 42
 6 x 8 = 48
 6 x 9 = 54

Tabuada do número: 7
 7 x 1 = 7
 7 x 2 = 14
 7 x 3 = 21
 7 x 4 = 28
 7 x 5 = 35
 7 x 6 = 42
 7 x 7 = 49
 7 x 8 = 56
 7 x 9 = 63

Tabuada do número: 8
 8 x 1 = 8
 8 x 2 = 16
 8 x 3 = 24
 8 x 4 = 32
 8 x 5 = 40
 8 x 6 = 48
 8 x 7 = 56
 8 x 8 = 64
 8 x 9 = 72

Tabuada do número: 9
 9 x 1 = 9
 9 x 2 = 18
 9 x 3 = 27
 9 x 4 = 36
 9 x 5 = 45
 9 x 6 = 54
 9 x 7 = 63
 9 x 8 = 72
 9 x 9 = 81